@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

.background {
  background: url("/Assets/bg.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 82vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 12vh;
  background-color: #4B6150;
  color:black;
  position: sticky;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  height: 100px;
  width: auto;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

h2{
  display:flex;
  justify-content: space-around;
  font-family: 'Berkshire Swash', cursive;
}

h3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  font-style: italic;
  padding-left: 6rem;
  font-family: 'Berkshire Swash', cursive;
}

.formMain {
  display: flex;
  justify-content: center;
}

.formContainer {
  margin-top: 6rem;
  background-color: #4B6150;
  border-radius: 15%;
  padding: 1rem;
}




.logoImage {
  display: flex;
  padding: 0.2rem;
  max-width: 170px;
  height: auto;
}

footer {
  height: 6vh;
  background-color: #4B6150;
  color:black;
  position: sticky;
  justify-content: center;
  display: flex;
  align-items: center;
}
