html {
  background: url("Assets/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font: 300 16px/22px "Quicksand", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  height: 8vh;
  background-color: #D3D3D3;
  color:black;
  position: sticky;
}

.logoContainer {
  display: flex;
  justify-content: center;
}
.logo {

  height: 100px;
  width: auto;
}

main {
  display: flex;
  justify-content: center;
}

.formContainer {
  /* max-width: 400px; */
}

.logoImage {
  padding-top: 5px;
  max-width: 50px;
  max-height: 50px;
}

footer {
  height: 8vh;
  background-color: #D3D3D3;
  color:black;
  position: sticky;
  justify-content: center;
  display: flex;
  align-items: center;
}
