body {
  background: url("/Assets/bg.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 84vh;
}



main {
  /* padding-right: 50px; */
}


header {
  height: 8vh;
  background-color: #D3D3D3;
  color:black;
  position: sticky;
}

.logoImage {
  padding-top: 5px;
  max-width: 50px;
  max-height: 50px;

}

.facePlaceholderContainer {
    padding-top: 10px;
justify-content: center;
display: flex;
}


.carousel {
  max-height: 200px;
}


.carouselImage {
  height: 200px;
  width: auto;
}


h6 {
  margin-top: 100px;
  font-size: 30px;
  font-weight: 900;
  color:black;
  /* background-color: #D3D3D3; */
}



h2 {
  color:black;
  /* background-color: white; */
}

.sumbitButtonContainer {
  padding-top: 10px;
  justify-content: center;
  display: flex;
}

footer {
  height: 8vh;
  background-color: #D3D3D3;
  color:black;
  position: sticky;
  justify-content: center;
  display: flex;
  align-items: center;
}


.btn {
  z-index: 999999;
}

/*
.carouselTop {
  background: url("/Assets/bg.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carouselBottom {
  background: url("/Assets/bg.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carouselShoes {
  background: url("/Assets/bg.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */




img, a {
  display: block;
}
