header {
  height: 8vh;
  background-color: #D3D3D3;
  color:black;
  position: sticky;
}

.logoImage {
  padding-top: 5px;
  max-width: 50px;
  max-height: 50px;

}

.placeholderImageContainer {
    padding-top: 10px;
justify-content: center;
display: flex;
}


.carousel {
  max-height: 200px;
}


.sumbitButtonContainer {
  padding-top: 10px;
  justify-content: center;
  display: flex;
}
footer {
  height: 8vh;
  background-color: #D3D3D3;
  color:black;
  position: sticky;
  justify-content: center;
  display: flex;
  align-items: center;
}
