header {
  height: 10vh;
  background-color: black;
  color:white;
}

.logoImage {
  max-width: 100px;
  max-height: 100px;

}

.placeholderImageContainer {
    padding-top: 10px;
justify-content: center;
display: flex;
}


.carousel {
  max-height: 200px;
}


.sumbitButtonContainer {
  padding-top: 10px;
  justify-content: center;
  display: flex;
}


/* h6 {
  margin-right: 20px;
} */
